.container-v-fluid {
    height: 100vh;
  }
  
  .container-h-centered {
    text-align: center;
  }
  
  .container-inline-block {
    display: inline-block;
  }
  
  .sidebar {
    width: 350px;
    position: fixed;
  }

  .topmenu {
    left: 350px;
    width: calc(100% - 350px);
  }

  .main-container {
    padding-left: 350px;
    padding-top: 60px;
  }
  